.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-lg-offset-0
      .ibox.float-e-margins
        .ibox-content
          %h2
            Cambio de Contraseña
          %hr/
          = form_for(@session_user, :url => { :action => 'update_password' } ) do |f|
            = render 'shared/error_messages', object: f.object, model: 'Contraseña'
            .form-group
              .col-lg-5
                %i.fa.fa-key
                = f.label "Contraseña:", class: 'control-label'
                %br/
              .col-lg-5
                = f.password_field :password, :autocomplete => "off",  class: 'form-control'
                %br/
            .form-group
              .col-lg-5
                %i.fa.fa-key
                = f.label "Confirmar contraseña:",  class: 'control-label'
                %br/
              .col-lg-5
                = f.password_field :password_confirmation,  class: 'form-control'
                %br/
            .form-group
              .col-lg-5.col-lg-offset-5
                .action_container
                  = f.submit "Cambio de Contraseña", class: "btn btn-success btn-block"
            %br/
            %br/
            %br/
            %br/
            %br/
            %br/
            %br/
