
.row
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-title
        %h3
          Seguro RCV
      .ibox-content
        .form-group
          - if @seguro.solicitud.nil?
            .row
              .col-md-12.text-center
                = label_tag :seguro_flota , class: 'radio-inline' do
                  =radio_button_tag :seguro , 'flota', true, id:'radio-RCV-flota'
                  %span Flota
                = label_tag :seguro_individual , class: 'radio-inline' do
                  =radio_button_tag :seguro ,'individual',false,
                  id:'radio-RCV-individual'
                  %span Individual por vehículo
            %div.continuar-seguro-pregunta
              .row
                .col-md-12.text-center
                  %br
                  %br
                  %p
                    Haga click en continuar solo si está seguro que posee Seguro
                    Individual por vehículo.
                  %br
        = form_for @seguro, url: escuela_transportes_seguros_path(id: @escuela_transporte.id) do |f|
          .ibox-content.caja-RCV-flota
            = render 'shared/error_messages', object: f.object, model: 'RCV por flota'
            = render 'campos_seguro', f: f
          %br
          = render 'escuela_transportes/escuela_transportes/shared/buttons_bottom', f:f,
            text_prev:'Volver a Infraestructura',
            clase_prev: '<i class="fa fa-building-o"></i>',
            url_prev:  escuela_transportes_cargar_planos_path(@escuela_transporte.id),
            text_next: 'Guardar Seguro',
            clase_next: '<i class="fa fa-floppy-o"></i>'