.col-md-12
  .ibox.float-e-margins
    .ibox-content
      %h2
        = title
        - icon ||= nil
        -if icon.present?
          = icon.html_safe
      %ol.breadcrumb
        %li
          = link_to 'Inicio', root_url
        %li
          = link_to 'Información General', escuela_transportes_informacion_general_new_get_path(id: @escuela_transporte)
        %li
          = link_to 'Planos Infraestructura',escuela_transportes_cargar_planos_path(id: @escuela_transporte)
        -if solicitud.seguro_not_save?
          %li
            = link_to 'Datos Seguro RCV', new_escuela_transportes_seguro_path(id: @escuela_transporte)
        %li
          = link_to 'Documentos de Vehiculos', escuela_transportes_vehiculos_path(id: @escuela_transporte.id)
        %li
          = link_to 'Registro de Circuitos Manejo', escuela_transportes_index_circuitos_path(id: @escuela_transporte.id)
        %li
          = link_to 'Registro Trabajadores', escuela_transportes_listar_personals_path(id: @escuela_transporte.id)
