.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .row.col-sm-12
            .row.col-sm-12
              .form-group.col-sm-8
                = label_tag nil,class:'control-label col-sm-2' do
                  Escuela de Transporte:
                .col-sm-10
                  = text_field_tag :nombre_escuela ,
                    @escuela_transporte.razonSocial,
                    disabled: true,class:'form-control col-sm-4 small'
              .form-group.col-sm-4
                = label_tag 'Rif:',nil,class:'control-label col-sm-2'
                .col-sm-10
                  = text_field_tag :representante ,
                    @escuela_transporte.rif_show,
                    disabled: true,class:'form-control'
            .row.col-sm-12
              .form-group.col-sm-8
                = label_tag 'Tipo de Escuela:',nil,class:'control-label col-sm-2'
                .col-sm-10
                  = text_field_tag :tipo_escuela , @escuela_transporte.tipo_escuela.nombre,
                disabled: true,class:'form-control'
              .form-group.col-sm-4
                = label_tag 'Número de Trámite:',nil,class:'control-label col-sm-4'
                .col-sm-8
                  = text_field_tag :solicitud ,
                    @escuela_transporte.solicituds.any? ? @escuela_transporte.solicitud(nombre_solicitud).id : '' ,
                    disabled: true,class:'form-control'

        = render 'shared/document_info'
        - sol = @escuela_transporte.solicitud(nombre_solicitud)
        - if sol.estado?(:preparada) and sol.numero_planilla.present?
          .row
            .col-md-3.col-md-offset-9
              = link_to 'Actualizar Planilla', new_escuela_transportes_solicitud_final_path(id: @escuela_transporte),
              class: 'btn btn-primary btn-block',
              data: { disable_with: "Actualizar Planilla" }
              -#disabled:!(@escuela_transporte.solicitud(nombre_solicitud).preparada? || @escuela_transporte.solicitud(nombre_solicitud).modificada?),
