.ibox.float-e-margins
  .ibox-title
    %h3
      Continuar Preinscripción de Escuela de Transporte
  .ibox-content
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %th
              Número de Trámite
            %th
              Razón Social de la Escuela de Transporte
            %th
              RIF
            %th
          %tbody
            - current_session_user.escuelas_preinscritas.each do |escuela|
              -@escuela_transporte = escuela
              %tr
                %td
                  = escuela.razonSocial
                %td
                  = escuela.rif_show
                %td
                - solicitud = escuela.solicitud(nombre_solicitud)

                -if solicitud.estado?(:registrada) and (not solicitud.locked)
                  .col-sm-6
                    = link_to 'Modificar',escuela_transportes_modificar_solicitud_adecuacion_path(id: escuela),
                     data:{confirm:'Al modificar se creara una nueva solicitud y está debe imprimirse. ¿Desea Modificar?'},
                    class: 'btn btn-primary btn-block'
                -if solicitud.estado?(:registrada)
                  .col-sm-6
                    = link_to 'Ver Planilla', escuela_transportes_ver_solicitud_adecuacion_path(id: escuela),class: 'btn btn-warning btn-block'
                - elsif solicitud.estado?(:initial)
                  .col-sm-6
                    = link_to 'Continuar Carga Documentos',
                      (route_completar_adecuacion_construccion(solicitud)||escuela_transportes_listar_personals_path(id: escuela)),
                       class: 'btn btn-primary btn-block'



