.ibox.float-e-margins
  .ibox-title
    %h3
      Continuar Preinscripción de Escuela de Transporte
  .ibox-content
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %th
              Número de Trámite
            %th
              Razón Social de la Escuela de Transporte
            %th
              RIF
            %th
          %tbody
            - current_session_user.escuelas_preinscritas.each do |escuela|
              %tr
                -#%td
                -#  = escuela.solicitud(nombre_solicitud).id
                %td
                  = escuela.razonSocial
                %td
                  = escuela.rif_show
                %td
                  -#- if escuela.solicitud(nombre_solicitud).completa?
                .row
                  .col-sm-6
                    = link_to 'Modificar', grupo_requisito_faltante(escuela.solicitud(nombre_solicitud)),class: 'btn btn-primary btn-block'
                  .col-sm-6
                    = link_to 'Ver Planilla', new_escuela_transportes_solicitud_final_path(id: escuela),class: 'btn btn-warning btn-block'
                  -#- else
                = link_to 'Continuar Carga Documentos', grupo_requisito_faltante(escuela.solicitud(nombre_solicitud)),class: 'btn btn-primary btn-block'


