.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Carga de Documentos Esenciales para el Registro de Escuela de Transporte
.row
  .col-md-12
    = render 'shared/document_info'
.wrapper.wrapper-content.animated.fadeIn
  = render 'shared/error_messages', object: @escuela_transporte, model: 'Documentos'
  = render  'shared/show_modelo_documento_paginado',vista: :registro_inicial,modelo: @escuela_transporte

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row.form-horizontal
            = form_for @escuela_transporte, url:  escuela_transportes_documentos_registro_path(@escuela_transporte), html: {method: :post} do |escuela|
              =render 'shared/show_modelo_documentos_no_paginados', model: escuela, list_documents: @lista_documentos
              .form-group
                .col-sm-3.col-sm-offset-1
                  = escuela.submit 'Guardar Rif', class: 'btn btn-success btn-block', data: { disable_with: "Guardar Documentos." }