.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row.form-horizontal
          = form_for @personal, url:  escuela_transportes_guardar_personal_path(@escuela_transporte),
            html: {method: :post, multipart: true}, remote: true do |personal|
            = render 'shared/error_messages', object: personal.object, model: 'Trabajador'
            .row.col-sm-12
              .form-group.col-sm-4
                =personal.label :nombre,'Nombre:' , class: 'col-sm-4 control-label'
                .col-sm-8
                  = personal.text_field :nombre,
                    class:'form-control',
                    disabled: :true
              .form-group.col-sm-4
                =personal.label :apellido ,'Apellido:', class: 'col-sm-4 control-label'
                .col-sm-8
                  = personal.text_field :apellido,
                    class:'form-control',
                    disabled: :true
              .form-group.col-sm-4
                =personal.label :cedula ,'Cédula:', class: 'col-sm-4 control-label'
                .col-sm-3
                  = personal.text_field :nacionalidad,
                    class:'form-control',
                    disabled: :true
                .col-sm-5
                  = personal.text_field :cedula,
                    class:'form-control',
                    disabled: :true
            .row.col-sm-12
              .form-group.col-sm-4
                = personal.label :tipo_personal , class: 'col-sm-4 control-label' do
                  Tipo de circuito:
                  %span.fa.fa-asterisk.red
                .col-sm-8
                  =personal.select :tipo_personal, options_for_select({'Docente' => 'docente',
                              'Instructor'=>'instructor','Obrero'=> 'obrero','Directivo'=> 'directivo',
                              'Administrativo'=> 'administrativo'},
                              :selected=> @personal.tipo_personal.nil? ? 'docente' : @personal.tipo_personal),
                             {id: 'select-documento'}, {class: 'form-control'}
            #document-trabajadores
              =render 'shared/show_modelo_documentos_no_paginados', model: personal, list_documents: load_documentos(:trabajadores, @personal,true)
            #document-trabajadores-intructores
              - if @personal.instructor?
                =render 'shared/show_modelo_documentos_no_paginados', model: personal, list_documents: load_documentos(:trabajadores_instructores, @personal,true)
            %br
            %br
            .form-group
              .col-sm-3.col-sm-offset-9
                = personal.button(type: 'submit', class: 'btn btn-success btn-block',
                 data: { disable_with: 'Guardando ...' }) do
                  Guardar Trabajador
                  %i.fa.fa-save
:javascript
  $("#new_personal").bind("submit", function() {
    $(this).find(":input").removeAttr("disabled");
  });