= provide(:title, 'Modelos de Planillas Para Practica de Manejo')

.wrapper.wrapper-content
  .row.animated.fadeInRight
    = render 'escuela_transportes/shared/ficha_datos'
    = render 'escuela_transportes/shared/breadcrum_wizard_solicitud_adecuacion',title:'Registro de Circuitos de Manejo',solicitud: @solicitud, icon: '<i class="fa fa-automobile"></i>'

    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Datos del circuito
        .ibox-content
          .row{id: "form-circuito-solicitud-#{@solicitud.id}"}
            =render 'escuela_transportes/circuitos_manejo/circuito_form',url:url, method: method, remote: remote

#flash-circuito-creado
%div{id: "form-documentos-circuito-solicitud-#{@solicitud.id}"}