= render 'shared/error_messages', object: @solicitud, model: 'Circuito de Manejo'
= form_for @solicitud,
           url: url,method: method,
           html: {class: 'form-horizontal m-t-md', id: 'form-informacion-general',:multipart => true},remote:true do |solicitud|
  =solicitud.fields_for :circuitos ,@circuito do |circuito|
    .row.col-sm-12
      .form-group.col-sm-6
        = circuito.label :tipo_circuito , class: 'col-sm-4 control-label' do
          Tipo de circuito:
          %span.fa.fa-asterisk.red
        .col-sm-8
          =circuito.select :tipo_circuito, options_for_select({'Abierto' => 'abierto', 'Cerrado'=> 'cerrado'},
                      :selected=> @circuito.tipo_circuito.nil? ? 'abierto' : @circuito.tipo_circuito),
                     {id: 'select-documento'}, {class: 'form-control deshabilitar-condition'}
      .form-group.col-sm-6
        = circuito.label :descripcion_ruta, class: 'col-sm-4 control-label' do
          Descripción de la Ubicación o ruta:
          %span.fa.fa-asterisk.red
        .col-sm-8
          = circuito.text_field :descripcion_ruta,class: 'form-control deshabilitar-condition', maxlength:255
      .col-sm-2.col-lg-offset-10{id: 'div-reload-or-save-circuitos'}
        = circuito.button(type: 'submit', class: 'btn btn-success btn-block',
                   data: { disable_with: 'Cargar Documentos' }) do
          Guardar Circuito
          %i.fa.fa-save