= provide(:title, 'Visualizar Circuito de Manejo')
= render :partial => 'breadcrum_circuito_manejo'
.row.animated.fadeInRight
  = render 'escuela_transportes/shared/ficha_datos', show: false

.row.animated.fadeInRight
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-title
        %h3
          Datos del Circuito de manejo
      .ibox-content
        .row
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th.text-center
                  Tipo de circuito
                %th.text-center
                  Descripción y/o Ubicación de la ruta
              %tbody
                %tr
                  %td.text-center
                    #{@circuito.tipo_circuito}
                  %td.text-center
                    #{@circuito.descripcion_ruta}

.row.animated.fadeInRight
  = render 'shared/servicio_intt_documentos', model: @circuito, nombre_vista_param: :registro_circuitos_manejo
  = render 'shared/servicio_intt_documentos', model: @circuito, nombre_vista_param: :registro_circuitos_manejo_abierto
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Listar Circuitos',
              escuela_transportes_index_circuitos_path(id: @escuela_transporte.id),
              class: "btn btn-info"
  %br
  %br
  %br
