.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          - booleanModificar =(@solicitud.estado?(:registrada) and (not @solicitud.locked))
          -if booleanModificar
            .col-sm-2
              = link_to 'Modificar',escuela_transportes_modificar_solicitud_adecuacion_path(id: @escuela_transporte),
                data:{confirm:'Al modificar se creara una nueva solicitud y está debe imprimirse. ¿Desea Modificar?'},
                class: 'btn btn-primary btn-block'
          .col-sm-2{class: booleanModificar ? 'col-sm-offset-8':'col-sm-offset-10'}
            = link_to  escuela_transportes_print_solicitud_adecuacion_path(format: :pdf, id: @solicitud), class: 'btn btn-success btn-block' do
              %i.fa.fa-file-pdf-o
              Imprimir a PDF
%br/
.row.white-bg
  .col-md-12
    .col-md-2
      = image_tag('logo_ministerio.jpg', size: '150x150')
    .col-md-8
      .row
        .col-md-6.text-left
          %br/
          %p
            %strong
              República Bolivariana de Venezuela
              %br
              Ministerio del Poder Popular para Relaciones
              Interiores, Justicia y Paz
              %br
              Instituto Nacional de Transporte Terrestre
        .col-md-6
          %br/
          %p.text-right
            %strong
              Fecha de Emisión:
              = @solicitud.planilla_time.strftime("%d/%m/%Y")
      .row
        .col-md-12.text-center
          %br
          %h3
            Planilla Única de Trámite
    .col-md-2
      = image_tag('logo_planillas.png', size: '150x150')
  .col-md-12
    %br/
    .table-responsive.border_tabla
      %table.table
        %tbody
          %tr
            %td
              %strong
                Código de Barras
              = image_tag "/Barcodes/Code128B_#{@solicitud.numero_planilla}.png"
            %td{style: "vertical-align:middle;"}
              %strong
                Número de Planilla:
              = sprintf '%013d', @solicitud.numero_planilla
  .col-md-12
    %br/
    .table-responsive.border_tabla
      %table.table.sin_border
        %caption.gris-bg
          .row
            .col-md-4
              %h3.text-center
                Datos del Solicitante
        %tbody
          %tr
            %td{colspan: 2}
              %b
                Nombre y Apellido:
              = current_session_user.usuario_sput.nombre + ' ' + current_session_user.usuario_sput.apellido
            %td{colspan: 2}
              %b
                Identificación:
              = current_session_user.usuario_sput.nacionalidad + ' ' + current_session_user.usuario_sput.numero_doc
          %tr
            %td{colspan: 2}
              %b
                Teléfonos:
              = current_session_user.usuario_sput.telefono_local
            %td{colspan: 2}
              %b
                Correo Electrónico:
              = current_session_user.email
          %tr
            %td{colspan: 4}
              %b
                Dirección:
              = current_session_user.representante_legal.direccion
      %table.table.sin_border
        %caption.gris-bg
          .row
            .col-md-4
              %h3.text-center
                Datos de la Escuela de Transporte
        %tbody
          %tr
            %td{colspan: 2}
              %b
                Nombre:
              = @escuela_transporte.razonSocial
            %td{colspan: 2}
              %b
                Nombre Comercial:
              = @escuela_transporte.nombre_comercial
          %tr
            %td{colspan: 2}
              %b
                Tipo de Escuela:
              = @escuela_transporte.tipo_escuela.nombre
            %td{colspan: 2}
              %b
                Rif:
              = @escuela_transporte.tipo_rif+@escuela_transporte.rif.to_s+ @escuela_transporte.digito_rif.to_s
          %tr
            %td{colspan: 2}
              %b
                Teléfono:
              = @escuela_transporte.telefono
            %td{colspan: 2}
              %b
                Teléfono Móvil:
              = @escuela_transporte.movil
          %tr
            %td{colspan: 2}
              %b
                Email:
              = @escuela_transporte.email
            %td{colspan: 2}
              %b
                Dirección Web:
              = @escuela_transporte.url
          %tr
            %td{colspan: 4}
              %b
                Dirección:
          %tr
            %td{colspan: 2}
              %b
                Estado:
              =  @escuela_transporte.ciudad.estado.nombre
            %td{colspan: 2}
              %b
                Ciudad:
              =  @escuela_transporte.ciudad.nombre
          %tr
            %td{colspan: 2}
              %b
                Municipio:
              =  @escuela_transporte.parroquia.municipio.nombre
            %td{colspan: 2}
              %b
                Parroquia:
              =  @escuela_transporte.parroquia.nombre
          %tr
            %td{colspan: 4}
              %b
                Sector/Urbanización, Calle y/o Avenida y/o Edificio o CC/Piso y/o Local:
              =@escuela_transporte.direccion
        %table.table.sin_border
          %caption.gris-bg
            .row
              .col-md-4
                %h3.text-center
                  Datos del Trámite
          %thead
            %tr
              %td{colspan: 2}
                %b
                  Trámite:
                  Autorización para la construcción y adecuación
              %td{colspan: 1}
                %b
                  Número de Trámite:
                = sprintf '%012d', @solicitud.id

              %tr
                %td{colspan: 4}
                  %table.table.table-bordered
                    %caption
                      .row
                        .col-md-4
                          %h3.text-center
                            Flota (Vehículos)
                    %thead
                      %tr
                        %th
                          Placa
                        %th
                          Modelo
                        %th
                          Marca
                        %th
                          Año
                        %th
                          Serial de Carroceria
                    %tbody
                      - @solicitud.vehiculo_pres.each do |vehiculo|
                        %tr
                          %td
                            = vehiculo.placa
                          %td
                            = vehiculo.modelo
                          %td
                            = vehiculo.marca
                          %td
                            = vehiculo.ano
                          %td
                            = vehiculo.s_carroceria
      %table.table.table-bordered
        %thead
          %tr
            %th
              Solicitante
            %th
              Funcionario Receptor
        %tbody
          %tr
            %td{width: "50%"}
              .row
                .col-sm-8.text-justify
                  %font{size: 1}
                    %strong
                      Firma:
                      %br
                      %br
                      Cédula:
                      %br
                      %br
                      Fecha:
                      %br
                      %br
                .col-sm-4
                  %font{size: 1}
                    %strong
                      Pulgar Derecho:
              .row
                .col-sm-12
                  %p.text-justify
                    %font{size: 1}
                      Declaro que todos los datos suministrados en este
                      formulario son verdaderos y exactos por lo que
                      dejo a juicio de las autoridades competentes la
                      verificación de los mismos, responsabilizándome
                      por cualquier irregularidad existente.
            %td
              .row
                .col-sm-8.text-justify
                  %font{size: 1}
                    %strong
                      Firma:
                      %br
                      %br
                      Cédula:
                      %br
                      %br
                      Fecha:
                      %br
                      %br
                .col-sm-4
                  %font{size: 1}
                    %strong
                      Sello: