.row
  %hr
  .col-md-9.col-md-offset-1

    - if @vehiculo.nil?
      %p.text-center
        No se encontro ningún vehículo con esos datos.
    - else
      %h3
        Datos del Vehículo
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th
              Modelo
            %th
              Marca
            %th
              Año
            %th
              Placa
            %th
              Serial de Carroceria
            %th
              Color
            %th
              Capacidad
            %th
              Uso
            %th
              Nro Puestos
            %th
              Tipo
        %tbody
          %tr
            %td
              = @vehiculo.MODELO
            %td
              = Marca.marca(@vehiculo.ID_MARCA)
            %td
              = @vehiculo.ANO
            %td
              = @vehiculo.PLACA
            %td
              = @vehiculo.SERIAL_CARROCERIA
            %td
              = Color.color(@vehiculo.ID_COLOR1)
            %td
              = @vehiculo.CAPACIDAD
            %td
              = @vehiculo.ID_USO
            %td
              = @vehiculo.NRO_PUESTOS
            %td
              = TipoVehiculo.tipo_vehiculo(@vehiculo.ID_TIPO_VEHICULO)
      = hidden_field_tag :placa, @vehiculo.PLACA, id: 'found_vehiculo_placa'
      = hidden_field_tag :s_carroceria, @vehiculo.SERIAL_CARROCERIA, id: 'found_vehiculo_s_carroceria'
      = hidden_field_tag :ano, @vehiculo.ANO, id: 'found_vehiculo_ano'
      .row
        .col-md-12
          .row
            .col-sm-12
              %p.text-center
                ¿Desea registrar este vehículo a la Escuela de Transporte?
          .row
            .col-md-2.col-md-offset-3
              %button.btn.btn-danger.btn-block#found_vehiculo_cancelar
                Cancelar
            .col-md-2.col-md-offset-2
              %a.btn.btn-success.btn-block#found_vehiculo_aceptar{href: '#fields'}
                Aceptar
.row
  %hr
  .col-md-12#div_campos_documentos
#fields
:javascript
  jQuery(document).ready(function($) {
    $("#found_vehiculo_aceptar").click(function() {
  return $.ajax({
    type: "POST",
    url: "/escuela_transportes/vehiculos/campos_documentos",
    dataType: "html",
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    data: {
      placa: $('#found_vehiculo_placa').val(),
      s_carroceria: $('#found_vehiculo_s_carroceria').val(),
      ano: $('#found_vehiculo_ano').val(),
      id: $('#escuela_transporte_hidden').val()
    },
    success: function(data) {
      var html;
      html = $('#div_campos_documentos');
      html.empty();
      return html.append(data);
    }
    });
  });
    $("#found_vehiculo_cancelar").click(function() {
      var html;
      $('#placa_vehiculo_pre').val('')
      $('#s_carroceria_vehiculo_pre').val('')
      $('#ano_vehiculo_pre').val('')
      html = $('#div_buscar_vehiculo_pre');
      return html.empty();

    });
  });
