.row
  %hr
  .col-md-10.col-md-offset-1

    %h3
      Datos del Vehículo
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th
            Modelo
          %th
            Marca
          %th
            Año
          %th
            Placa
          %th
            Serial de Carroceria
          %th
            Color
          %th
            Capacidad
          %th
            Uso
          %th
            Nro Puestos
          %th
            Tipo
      %tbody
        %tr
          %td
            = @vehiculo_intt.MODELO
          %td
            = Marca.marca(@vehiculo_intt.ID_MARCA)
          %td
            = @vehiculo_intt.ANO
          %td
            = @vehiculo_intt.PLACA
          %td
            = @vehiculo_intt.SERIAL_CARROCERIA
          %td
            = Color.color(@vehiculo_intt.ID_COLOR1)
          %td
            = @vehiculo_intt.CAPACIDAD
          %td
            = @vehiculo_intt.ID_USO
          %td
            = @vehiculo_intt.NRO_PUESTOS
          %td
            = TipoVehiculo.tipo_vehiculo(@vehiculo_intt.ID_TIPO_VEHICULO)
      %thead
        %tr
          %th{colspan:3} C.I./RIF
          %th{colspan:7} Propietario
      %tbody
        %tr
          %td{colspan:3}
            ="#{@propietario.ID_TIPO_IDENTIFICACION}-#{@propietario.NRO_IDENTIFICACION}#{@propietario.DIGITO_RIF}"
          %td{colspan:7}
            ="#{@propietario.PRIMER_NOMBRE} #{@propietario.SEGUNDO_NOMBRE} #{@propietario.PRIMER_APELLIDO} #{@propietario.SEGUNDO_APELLIDO}"
    #div_prueba_bootstrapValidator
      = form_for @vehiculo, url: escuela_transportes_vehiculos_path(id: params[:id]),  method: :post, html: {id:'form-vehiculo-tramite-found'} do |f|
        = f.hidden_field :placa, value: @vehiculo_intt.PLACA, id: 'found_vehiculo_placa'
        = f.hidden_field :s_carroceria, value: @vehiculo_intt.SERIAL_CARROCERIA, id: 'found_vehiculo_s_carroceria'
        = f.hidden_field :ano, value: @vehiculo_intt.ANO, id: 'found_vehiculo_ano'
        = render 'shared/show_modelo_documentos_no_paginados', model: f, list_documents: @documentos_vehiculos
        - if @escuela_transporte.solicitud(nombre_solicitud).seguro.nil?
          = f.fields_for @vehiculo.seguro_vehiculo do |seguro|
            %hr
            %h4 Datos del Seguro
            %div#seguro_fields_on
              = render 'solicitud/shared/campos_seguro', f: seguro
        .row
          .col-md-12
            .checkbox.i-checks
              %label
                = check_box_tag :posee_arrendatario,'', false
                %h4
                  ¿El vehiculo es arrendado?
          %br
          %br
          %br
        .row
          .col-md-12
            %div#contenedor-arrendatario{style: 'display: none;'}
              = render 'contrato_arrendamiento'
        .row
          .col-md-3
            %a.btn.btn-danger.btn-block#found_vehiculo_cancelar
              Cancelar
          .col-md-3.col-md-offset-6
            = f.submit 'Agregar Vehículo', class: 'btn btn-block btn-success', id: 'submit-agregar-vehiculo'

%script{:src => "/js/plugins/bootstrapValidator/bootstrapValidator.js" }
:javascript
  jQuery(document).ready(function($) {
    $("#found_vehiculo_cancelar").click(function() {
      var html;
      $('#placa_vehiculo').val('')
      $('#s_carroceria_vehiculo').val('')
      $('#ano_vehiculo').val('')
      html = $('#div_buscar_vehiculo');
      return html.empty();
    });
    $('#posee_arrendatario').click(function() {
      if ($("#posee_arrendatario").is(':checked')) {
        $('#contenedor-arrendatario').show();
        $('#contenedor-arrendatario :input').prop("disabled", false);
        //$('#contrato_arrendamiento_duracion').prop("disabled", false);
        //$('#contrato_arrendamiento_tomo').prop("disabled", false);
        //$('#contrato_arrendamiento_notaria').prop("disabled", false);
        //$('#contrato_arrendamiento_nombre_arrendatario').prop("disabled", false);
        //$('#contrato_arrendamiento_folio').prop("disabled", false);
        //$('#contrato_arrendamiento_rif_arrendatario').prop("disabled", false);
        //$('#contrato_arrendamiento_notaria').prop("disabled", false);
        $('#contenedor-arrendatario').find('select').prop("disabled", false);
      } else {
        $('#contenedor-arrendatario').hide();
        $('#contenedor-arrendatario :input').prop("disabled", true);
        //$('#contrato_arrendamiento_duracion').prop("disabled", true);
        //$('#contrato_arrendamiento_tomo').prop("disabled", true);
        //$('#contrato_arrendamiento_notaria').prop("disabled", true);
        //$('#contrato_arrendamiento_nombre_arrendatario').prop("disabled", true);
        //$('#contrato_arrendamiento_folio').prop("disabled", true);
        //$('#contrato_arrendamiento_rif_arrendatario').prop("disabled", true);
        //$('#contrato_arrendamiento_notaria').prop("disabled", true);
        $('#contenedor-arrendatario').find('select').prop("disabled", true);
      }
    });
    if ($('#seguro_fields_on').length == 0) {
      $('#form-vehiculo-tramite-found').bootstrapValidator({
        feedbackIcons: {
          valid: 'fa fa-check',
          invalid: 'fa fa-times',
          validating: 'fa fa-refresh'
        },
        live: 'submitted',
        fields: {
          'vehiculos_tramite[documentos_attributes][0][doc]': {
            validators: {
              notEmpty: {
                message: 'El Certificado de Registro del Vehículo es obligatorio'
              }
            }
          },
          'vehiculos_tramite[documentos_attributes][1][doc]': {
            validators: {
              notEmpty: {
                message: 'Constancia de Revisión del Vehículo es obligatorio'
              }
            }
          },
          'contrato_arrendamiento[duracion]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar los años de duración del contrato'
              }
            }
          },
          'contrato_arrendamiento[tomo]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de Tomo'
              }
            }
          },
          'contrato_arrendamiento[contrato_arrendamiento_file]': {
            validators: {
              notEmpty: {
                message: 'Contrato de Arrendamiento Notariado es Obligatorio.'
              }
            }
          },
          'contrato_arrendamiento[folio]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de Folio'
              }
            }
          },
          'contrato_arrendamiento[notaria]': {
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de notaria'
              }
            }
          },
          'contrato_arrendamiento[nombre_arrendatario]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el Nombre y Apellido/Razón Social'
              }
            }
          },
          'contrato_arrendamiento[rif_arrendatario]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar la C.I/RIF'
              }
            }
          }
        }
      });
    } else {
      $('#form-vehiculo-tramite-found').bootstrapValidator({
        feedbackIcons: {
          valid: 'fa fa-check',
          invalid: 'fa fa-times',
          validating: 'fa fa-refresh'
        },
        live: 'submitted',
        fields: {
          'vehiculos_tramite[documentos_attributes][0][doc]': {
            validators: {
              notEmpty: {
                message: 'El Certificado de Registro del Vehículo es obligatorio'
              }
            }
          },
          'vehiculos_tramite[documentos_attributes][1][doc]': {
            validators: {
              notEmpty: {
                message: 'Constancia de Revisión del Vehículo es obligatorio'
              }
            }
          },
          'vehiculos_tramite[seguro_vehiculo][aseguradora_id]': {
            validators: {
              notEmpty: {
                message: 'Debe de ingresar una compañia aseguradora'
              }
            }
          },
          'vehiculos_tramite[seguro_vehiculo][num_poliza]': {
            validators: {
              notEmpty: {
                message: 'Número de póliza es obligatorio'
              }
            }
          },
          "vehiculos_tramite[seguro_vehiculo][documentos_attributes][0][doc]": {
            validators: {
              notEmpty: {
                  message: 'Debe de subir la póliza digitalizada'
              }
            }
          },
          'contrato_arrendamiento[duracion]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar los años de duración del contrato'
              }
            }
          },
          'contrato_arrendamiento[tomo]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de Tomo'
              }
            }
          },
          'contrato_arrendamiento[folio]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de Folio'
              }
            }
          },
          'contrato_arrendamiento[notaria]': {
            validators: {
              notEmpty: {
                message: 'Debe indicar el numero de notaria'
              }
            }
          },
          'contrato_arrendamiento[nombre_arrendatario]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar el Nombre y Apellido/Razón Social'
              }
            }
          },
          'contrato_arrendamiento[rif_arrendatario]': {
            group: '.group',
            validators: {
              notEmpty: {
                message: 'Debe indicar la C.I/RIF'
              }
            }
          }
        }
      });
    }

    $('#aseguradora_id_rif').change(function() {
      return $.ajax({
        type: "POST",
        url: "/asegurador/rif",
        dataType: "JSON",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          id: $('#aseguradora_id_rif').val()
        },
        success: function(data) {
          return $('#seguro_vehiculo_rif').val(data[0]);
        }
      });
    });
  });
