= provide(:title, 'Preinscripcion Escuela Transporte')
= render 'escuela_transportes/shared/ficha_datos'

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          %h2
            Vehículo Registrado para Practicas de Escuela de Transporte
          %ol.breadcrumb
            %li
              = link_to 'Información General', escuela_transportes_informacion_general_new_get_path(id: @escuela_transporte)
            %li
              = link_to 'Planos Infraestructura',escuela_transportes_cargar_planos_path(id: @escuela_transporte)
            -if @solicitud.seguro_not_save?
              %li
                = link_to 'Datos del Seguro RCV', new_escuela_transportes_seguro_path(id: @escuela_transporte)
            %li
              = link_to 'Vehículos Registrados',  escuela_transportes_vehiculos_path(id: @escuela_transporte)
            %li
              Editar Vehículo
.row
= render 'form',url_submit: escuela_transportes_vehiculo_path(id: @escuela_transporte.id , vh: @vehiculo.placa)