= provide(:title, 'Preinscripcion Escuela Transporte')
= render 'escuela_transportes/shared/ficha_datos'

.wrapper.wrapper-content
  .row.animated.fadeInRight
    = render 'escuela_transportes/shared/ficha_datos'
    = render 'escuela_transportes/shared/breadcrum_wizard_solicitud_adecuacion',title:' Vehículo Registrado para Practicas de Escuela de Transporte',solicitud: @solicitud
.row
  = render 'form',url_submit: escuela_transportes_vehiculo_path(id: @escuela_transporte.id , vh: @vehiculo.placa)