= provide(:title, 'Preinscripcion Escuela Transporte')

= render 'escuela_transportes/shared/ficha_datos'

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          %h2
            Vehículos Registrados para Practicas de Escuela de Transporte
          %ol.breadcrumb
            %li
              = link_to 'Información General', escuela_transportes_informacion_general_new_get_path(id: @escuela_transporte)
            %li
              = link_to 'Registrar Vehículo', new_escuela_transportes_vehiculo_path(id: @escuela_transporte)
            %li
              Vehículos Registrados

    .ibox.float-e-margins
      .ibox-content
        .row
          .col-md-12
            - if @solicitud.vehiculo_pres.any?
              %h2
                %i.fa.fa-car
                Vehículos
              .row
                .col-md-12
                  .ibox.float-e-margins
                    .ibox-content
                      %table.table.table-striped.table-bordered.table-condensed
                        %thead
                          %tr
                            %th
                              Placa
                            %th
                              Año
                            %th
                              Serial Carrocería
                            %th
                              Color
                            %th
                              Marca
                            %th
                              Uso
                            %th
                              Modelo
                            %th
                              Tipo
                            %th
                              Puestos
                            %th
                              Propietario
                            %th
                              C.I/RIF
                            %th
                              Vehículo En arriendo
                            %th{:colspan => '3'}
                              Acciones


                        %tbody
                          -@solicitud.vehiculo_pres.each do |vehiculo_inttt|
                            %tr
                              %td
                                = vehiculo_inttt.placa
                              %td
                                = vehiculo_inttt.ano
                              %td
                                = vehiculo_inttt.s_carroceria
                              %td
                                = vehiculo_inttt.color
                              %td
                                = vehiculo_inttt.marca
                              %td
                                = vehiculo_inttt.uso
                              %td
                                = vehiculo_inttt.modelo
                              %td
                                = TipoVehiculo.tipo_vehiculo(vehiculo_inttt.tipo_vehiculo)
                              %td
                                = vehiculo_inttt.puesto
                              %td
                                = vehiculo_inttt.propietario
                              %td
                                = vehiculo_inttt.identificacion_propietario
                              %td.text-center
                                - unless vehiculo_inttt.contrato_arrendamiento.nil?
                                  %i.fa.fa-check
                              %td
                                -#= link_to  vehiculo_path(id: escuela_transportes_vehiculo_path.id, vh: vehiculo_inttt.placa) do
                                -#  %i.fa.fa-search
                                -#= link_to  edit_vehiculo_path(id: escuela_transportes_vehiculo_path.id ,vh: vehiculo_inttt.placa) do
                                -#  %i.fa.fa-pencil-square-o
                                = link_to  escuela_transportes_vehiculo_path(id: @escuela_transporte.id, vh: vehiculo_inttt.placa ) , method: :delete,
                                data: { confirm:'¿Seguro de borrar Vehiculo de flota?' } do
                                  %i.fa.fa-trash-o
              -#  .row
              -#    .col-md-11
              -#      %table.table-striped.table-bordered.table
              -#        %thead
              -#          %tr
              -#            %th Modelo
              -#            %th Placa
              -#            %th Serial de Carroceria
              -#            %th Año
              -#            %th Uso
              -#        %tbody
              -#          %tr
              -#            %td= vehiculo.modelo
              -#            %td= vehiculo.placa
              -#            %td= vehiculo.s_carroceria
              -#            %td= vehiculo.ano
              -#            %td= vehiculo.uso
              -#        %thead
              -#          %tr
              -#            - vehiculo.documentos.each do |documento|
              -#              %td
              -#                %strong
              -#                  = documento.documento_requisito.descripcion
              -#
              -#        %tbody
              -#          %tr
              -#            - vehiculo.documentos.each do |documento|
              -#              - if documento.pdf?
              -#                %td= image_tag(documento.doc.thumb)
              -#              - else
              -#                %td= link_to image_tag(documento.doc.thumb), documento.doc.url, rel: 'lightbox'
              -#
              -#    .col-md-1.text-center{style: 'margin-top: 50px'}
              -#      = link_to  escuela_transportes_vehiculo_path(vh: vehiculo.placa , id: @escuela_transporte.id) , method: :delete,
              -#        data: { confirm:'¿Seguro que desea Borrar el Vehículo?' } do
              -#        Eliminar
              -#        %i.fa.fa-trash.fa-lg
              -#.row
              -#  .col-sm-3
              -#    = link_to new_escuela_transportes_vehiculo_path(id: @escuela_transporte), class: 'btn btn-primary btn-block' do
              -#      Registrar Vehículo Adicional
              -#      %i.fa.fa-car
              -#  .col-sm-3.col-sm-offset-6
              -#    - if @solicitud.vehiculo_pres.any?
              -#      = link_to escuela_transportes_cargar_planos_path(@escuela_transporte), class: 'btn btn-success btn-block' do
              -#        A Infraestructura
              -#        %i.fa.fa-building-o
            - else
              %p.text-center
                Esta Escuela de Transporte no posee ningún vehículo asociado, para asociar un vehículo ingrese al siguiente link.
              .row
                .col-sm-3.col-sm-offset-4
                  = link_to new_escuela_transportes_vehiculo_path(id: @escuela_transporte), class: 'btn btn-primary btn-block' do
                    Registrar Vehículo
                    %i.fa.fa-car

