.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-title
        %h3
          Datos
      .ibox-content
        .row
          = render 'shared/error_messages', object: f.object, model: 'Escuela Transporte'
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :razonSocial , class: 'col-sm-4 control-label' do
                Denominación o Razón Social:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_field :razonSocial,class: 'form-control', maxlength: 50
            .form-group.col-sm-6
              .row
                = f.label :rif, class: 'col-sm-4 control-label' do
                  Rif:
                  %span.fa.fa-asterisk.red
                .col-sm-2
                  = f.select :tipo_rif,
                    options_for_select(['V', 'E', 'J', 'G','P']), {},{class: 'form-control rif-padding'}
                .col-sm-4
                  = f.text_field :rif , maxlength: 8, class:'form-control'
                .col-sm-2
                  = f.text_field :digito_rif , maxlength: 1, class:'form-control rif-padding'
              .row
                .col-sm-4
                  %span.help-block.small.text-danger.text-right ejemplo:
                .col-sm-2
                  %span.help-block.small.text-danger.text-center J
                .col-sm-4.text-center
                  %span.help-block.small.text-danger 99999999
                .col-sm-2.small.text-center
                  %span.help-block.text-danger  9
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :nombre_comercial, class: 'col-sm-4 control-label' do
                Nombre Comercial:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_field :nombre_comercial,class: 'form-control', maxlength: 70
            .form-group.col-sm-6
              = f.label :fecha_vencimiento_rif, class: 'col-sm-4 control-label' do
                Fecha Vencimiento RIF:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.date_select :fecha_vencimiento_rif,
                { start_year: Date.current.year + 3,
                  end_year: Date.current.year - 5,
                  include_blank: false},
                { class: 'form-control',
                style:'display:inline; width:auto;'}
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :telefono, class: 'col-sm-4 control-label' do
                Teléfono Fijo:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.phone_field :telefono,class: 'form-control'
            .form-group.col-sm-6
              = f.label :movil , class: 'col-sm-4 control-label' do
                Teléfono Móvil:
                %span.fa.fa-asterisk.red
              .col-sm-4
                = select_tag :operadora_movil ,
                options_for_select(@lista_operadoras,
                @operadora_movil_value ),
                class: 'form-control'
              .col-sm-4
                = f.text_field :movil , maxlength: 7,
                :class => 'form-control'
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :email, class: 'col-sm-4 control-label' do
                Email:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.email_field :email,class: 'form-control', maxlength: 50
            .form-group.col-sm-6
              = f.label :url, class: 'col-sm-4 control-label' do
                Dirección Página Web:
              .col-sm-8
                = f.text_field :url,class: 'form-control'